%div(ng-app="app" ng-controller="mealOrdersCtrl" ng-init="fetchOrders()")
  .container
    .row
      .col-md-6.text-center
        %h2 Current order

      .col-md-6.text-center
        %h2 Archived orders
